<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Esatic_Interservice::base" title="Interservice / Interservicios" module="Esatic_Interservice"
             sortOrder="60"
             resource="Esatic_Interservice::base"/>
        <add id="Esatic_Interservice::packing" title="Packaging" module="Esatic_Interservice" sortOrder="10"
             action="esatic/interservice" resource="Esatic_Interservice::packing"
             parent="Esatic_Interservice::base"/>
    </menu>
</config>
